<% provide(:title, 'Contact us') %>
<div class="static">
<h1>Contact Us</h1>

<p>Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah</p>
</div>