<div class="static">
<h1>Welcome to Devotionally</h1>
<h3 class="subheader">a simple way to organize your prayer life</h3>

<blockquote>
	"Prayer is the pulse of life; by it the doctor can tell what is the condition of the heart. The sin of prayerlessness is a proof for the ordinary Christian or minister that the life of God in the soul is in deadly sickness and weakness."
	<cite>Andrew Murray</cite>
</blockquote>

<p>Get started now!</p>
<p><%= link_to 'Sign Up', signup_path, class: "button" %></p>
</div>