<% provide(:title, 'Sign up') %>
<div class="static">
	<h1>Sign up</h1>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'fields', f: f %>
    
		<div class="row">
			<div class="columns">
				<%= f.submit "Create my account", class: "button" %>
			</div>
		</div>
  <% end %>

</div>