<li>
	<span class="content"><%= wrap(request.content) %></span>
	<span class="timestamp">
		<%= time_ago_in_words(request.created_at) %> ago.
	</span>
	<% if current_user?(request.user) %>
	  <%= link_to "delete", request, method: :delete,
	                                 data: { confirm: "You sure?" },
	                                 title: request.content %>
	<% end %>
</li>